
/********* OPTIONAL COLORS FOR YOUR LAYOUT by Goz ****************/

/*
  :root {
    --color_1: #000807;
    --color_2: #9395D3;
    --color_3: #B3B7EE;  
    --color_4: #FBF9FF;
    --color_5: #fff;
    --color_6: #111;
    --color_7: #555;
    --font_1: 'Playfair Display', serif;
    --font_2: 'Verdana, Geneva, Tahoma', sans-serif;  
  }
  */

  /*
  :root {
    --color_1: #E27396;
    --color_2: #EA9AB2;
    --color_3: #EAF2D7;  
    --color_4: #B3DEE2;
    --color_5: #fff;
    --color_6: #111;
    --color_7: #555;
    --font_1: 'Playfair Display', serif;
    --font_2: 'Verdana, Geneva, Tahoma', sans-serif;  
  }
  */

  /*
  :root {
    --color_1: #595358;
    --color_2: #313628;
    --color_3: #CADF9E;  
    --color_4: #A4AC96;
    --color_5: #fff;
    --color_6: #111;
    --color_7: #555;
    --font_1: 'Playfair Display', serif;
    --font_2: 'Verdana, Geneva, Tahoma', sans-serif;  
  }
  */
  
  /*
  :root {
    --color_1: #9A998C;
    --color_2: #A2A392;
    --color_3: #F8F4E3;  
    --color_4: #D4CDC3;
    --color_5: #fff;
    --color_6: #111;
    --color_7: #555;
    --font_1: 'Playfair Display', serif;
    --font_2: 'Verdana, Geneva, Tahoma', sans-serif;  
  }    
  */